<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site do Michelotto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body >
    <div class="bloquinho" >
        <h1>Bem Vindoooooooooo</h1>
        <p>Esse é o site do Michelotto</p>
            <div class="bloquinho">
            <h1>Meu inimigo</h1>
            <a href="/inimigo" class="botao" >Ver meu inimigo</a>
            </div>
    </div>
</body>
</html>