<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pior inimigo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bloco">
        <h1>Meu inimigo</h1>
        <p>Esse é o meu inimigo, ele é muito ruim e me odeia!</p>
        <img src="{{ url_for('static', filename='inimigo.jpg') }}" alt="Meu inimigo" width="300" style="display: block; margin: 0 auto;">
        <a href="/" class="botao">Voltar para a página inicial</a>
    </div>
    
</body>
</html>