<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inimigos do meu inimigo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bloquinho">
        <h1>Inimigos do meu inimigo</h1>
        <p>Esses são os inimigos do meu inimigo, eles são ainda piores!</p>
        <img src="{{ url_for('static', filename='seze.jpg') }}" alt="Inimigos do meu inimigo" width="300" style="display: flex; margin: 0 auto;">
        <img src="{{ url_for('static', filename='mar.jpg') }}" alt="Inimigos do meu inimigo" width="300" style="display: block; margin: 0 auto;">
        <a href="/" class="botao">Voltar para a página inicial</a>
    </div>
    
</body>
</html>